/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button:active{
  transform: scale(1.1);
  /* transition: transform ease 0.8s; */
}
/* Background */
body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* App container */
.app-container {
  width: 400px;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* Header */
header h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
/* main */
main {
  display: flex;
  flex-direction: column;
}
/* Input group */
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.input-group input::placeholder {
  color: #aaa;
}

.input-group input::selection {
  background-color: #0f2027;
}

.input-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: #00c6ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.input-group button:hover {
  background: #0072ff;
}

/* Task list */
#task-list {
  list-style: none;
}

#task-list li {
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

#task-list li:hover {
  background: rgba(255, 255, 255, 0.15);
}
li input {
  flex: 1;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #ffffff00;
  border-radius: 0;
  /* background: rgba(255, 255, 255, 0.1); */
  color: #fff;
  transition: all 0.3s;
}
li input:enabled {
  border-bottom: 1px solid #ffffff42;
}
li input::placeholder {
  color: #cfcfcf;
}
li input::selection {
  background-color: #0f2027;
}
li div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
li i {
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
li i:hover {
  color: #bebebe;
}
.button-group {
  position: relative;
}
.delete-btn {
  /* margin-left: 10px; */
  background: crimson;
  border: none;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  background: darkred;
}
.edit-done-btn {
  position: absolute;
  right: 0;
  width: 80px;
  background-color: rgb(0, 211, 18);
  border: none;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-block {
  pointer-events: none;
  filter: brightness(50%);
}
.btn-disable {
  pointer-events: none;
  opacity: 0;
}
.edit-done-btn:hover {
  background-color: rgb(0, 168, 14);
}
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form-btn {
  padding-block: 10px;
  margin-top: 20px;
  width: 80px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
  transition: 0.3s;
}
#save-btn {
  background-color: rgb(18, 216, 0);
}
#save-btn:hover {
  background-color: rgb(13, 155, 0);
}
#clear-list {
  background: #ff9900;
}
#clear-list:hover {
  background-color: rgb(216, 105, 0);
}
